* {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background: #2d2013;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; }

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column; }
